[Desktop Entry]
Type=Application
Name=UltraStar Manager
Exec=UltraStar-Manager %F
Icon=UltraStar-Manager
Comment=Manage your UltraStar song collection with ease.
Categories=Qt;Game;Music;X-Karaoke;X-UltraStar;
